<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.automobile.mapper.UsersMapper">
    <resultMap id="user_auth_map" type="Users">
        <id property="uid" column="uid"/>
        <result property="uname" column="uname"/>
        <result property="upwd" column="upwd"/>
        <result property="state" column="state"/>
        <result property="uphone" column="uphone"/>
        <result property="uemail" column="uemail"/>
        <result property="type" column="type"/>
        <collection property="authoritysList" ofType="com.newer.automobile.domain.Authoritys">
            <id property="aid" column="aid"/>
            <result property="aname" column="aname"/>
        </collection>

    </resultMap>
    <select id="loadUserByUsername" resultMap="user_auth_map">
        select u.uid,u.uname,u.upwd,u.state,u.uemail,u.uphone,u.type
        ,a.aid,a.aname from users u,authoritys a,users_authoritys ua where
        a.aid=ua.authority_Id and u.uid=ua.users_Id and u.uname=#{uname}
    </select>
</mapper>